{{#storefront-grid-cards as |grid|}}
  {{#grid.fineprint}}All modules subject to change{{/grid.fineprint}}
  {{#storefront-textbase-card class=grid.cardClass as |card|}}
    {{#card.title}}Day One: Tuesday, April 12{{/card.title}}
    <li class="{{card.listClass}}">Session 1. Rory: Intro to 1-step</li>
    <li class="{{card.listClass}}">Session 2. Kasey: Violence Dynamics</li>
    <li class="{{card.listClass}}">Session 3. Terry: Leverage</li>
    <li class="{{card.listClass}}">Session 4. Kasey: Logic of Violence</li>
  {{/storefront-textbase-card}}

  {{#storefront-textbase-card class=grid.cardClass as |card|}}
    {{#card.title}}Day Two: Wednesday, April 13{{/card.title}}
    <li class="{{card.listClass}}">Session 1. Marc: ConCom 1</li>
    <li class="{{card.listClass}}">Session 2. Marc: ConCom 2</li>
    <li class="{{card.listClass}}">Session 3. Marc: Power Generation</li>
    <li class="{{card.listClass}}">Session 4. Terry: Targeting</li>
  {{/storefront-textbase-card}}

  {{#storefront-textbase-card hasFineprint=true class=grid.cardClass as |card|}}
    {{#card.title}}Day Three: Thursday, April 14{{/card.title}}
    {{#card.fineprint}}This is an on-site range day with Kathy Jackson.{{/card.fineprint}}
    <li class="{{card.listClass}}">Session 1: Safety Brief</li>
    <li class="{{card.listClass}}">Session 2: Retention</li>
    <li class="{{card.listClass}}">Lunch Lecture, Q&A</li>
    <li class="{{card.listClass}}">Session 4: Fundamentals</li>
    <li class="{{card.listClass}}">Session 4: Applications</li>
  {{/storefront-textbase-card}}

  {{#storefront-textbase-card class=grid.cardClass as |card|}}
    {{#card.title}}Day Four: Friday, April 15{{/card.title}}
    <li class="{{card.listClass}}">Session 1. Terry: Threat Assessment</li>
    <li class="{{card.listClass}}">Session 2. Rory: Blindfold</li>
    <li class="{{card.listClass}}">Session 3. Rory: Ground</li>
    <li class="{{card.listClass}}">Session 4. Terry & Kathy: Weapons Familiarization</li>
  {{/storefront-textbase-card}}

  {{#storefront-textbase-card class=grid.cardClass as |card|}}
    {{#card.title}}Day Five: Saturday, April 16{{/card.title}}
    <li class="{{card.listClass}}">Session 1. Kasey: Self Defense Law</li>
    <li class="{{card.listClass}}">Session 2. Terry: Weapon Defense</li>
    <li class="{{card.listClass}}">Session 3. Rory: Environmental Fighting</li>
    <li class="{{card.listClass}}">Session 4: Debrief, Q/A</li>
  {{/storefront-textbase-card}}

  {{#storefront-textbase-card class=grid.cardClass as |card|}}
    {{#card.title}}Day Six: Sunday, April 17{{/card.title}}
    <li class="{{card.listClass}}">Environmental Awareness</li>
    <li class="{{card.listClass}}">Rory Miller</li>
    <li class="{{card.listClass}}">Marc MacYoung</li>
    <li class="{{card.listClass}}">Kasey Keckeisen</li>
    <li class="{{card.listClass}}">Kathy Jackson</li>
    <li class="{{card.listClass}}">Terry Trahan</li>
  {{/storefront-textbase-card}}
{{/storefront-grid-cards}}
