<span class="mdl-list__item-primary-content">
  <span>{{named-yield "title"}}</span>
  <span class="mdl-list__item-text-body">
    {{named-yield "subtitle"}}
  </span>
</span>
{{#unless noCta}}
  <span class="mdl-list__item-secondary-content">
    <button class="mdl-list__item-secondary-action" {{action "cta" model}}>
      {{named-yield "cta"}}
    </button>
  </span>
{{/unless}}

{{yield (hash
  title=(component "block-for" "title")
  subtitle=(component "block-for" "subtitle")
  cta=(component "block-for" "cta")
)}}
